html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --space-basis-percentage: ;
}

body {
    background-color: #005b60;
}

#grid-container {
    background-color: #a1a1a1;
    margin: auto;
    margin-top: 30px;
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;

}

.space {
    flex: var(--space-basis-percentage);
    height: auto;
    width: auto;
}

#logo {
    font-family: Silkscreen, Verdana, sans-serif;
    font-size: 88px;
    text-align: center;
    color:#dad8d8;
}