html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --space-basis-percentage: ;
}

body {
    background-color: #131313;
}

#grid-container {
    background-color: #939393;
    margin: auto;
    margin-top: 5vh;
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #83a7d3;
}

.space {
    flex: var(--space-basis-percentage);
    height: auto;
    width: auto;
    border: .5px solid #a7a7a7;
}