html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --space-basis-percentage: ;
}

body {
    background-color: #7d2a00;
    display: flex;
    height: 90vh;
    margin-top: 20px;
}

#content-container {
    margin: auto;
}

#grid-container {
    background-color: #a1a1a1;
    margin: auto;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;

}

.space {
    flex: var(--space-basis-percentage);
    height: auto;
    width: auto;
    border: .5px solid #00000010;
}

#logo {
    font-size: 71px;
    min-width: 630px;
    text-align: center;
    margin-top: -10px;
}

#size-text,
#logo,
#modes-container button {
    font-family: Silkscreen, Verdana, sans-serif;
    color:#dad8d8;
}

#size-container {
    display: flex;
    margin: auto;
    margin-top: -10px;
    width: 600px;
}

#size-slider {
    appearance: none;
    width: auto;
    flex: 1;
    height: 20px;
    margin-right: 20px;
    margin-top: 11px;
    background-color: #cfcfcf;
}

#size-text {
    font-size: 1.5em;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  background: #47200c;
  cursor: pointer;
}

#size-slider::-moz-range-thumb {
  width: 30px;
  height: 20px;
  background: #47200c;
  cursor: pointer;
}

#modes-container {
    display: flex;
    margin: auto;
    margin-top: 5px;
    width: 600px;
    justify-content: space-between;
}

#modes-container button {
    border: none;
    background-color: #7d2a00;
    font-size: 1.2em;
}

#modes-container button:hover {
    color: #47200c;
    cursor: pointer;
}
